    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #154360;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 450px;
        padding: 20px;
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }

    .compare {
        padding: 50px;
        height: 100%;
      }
    
    /* Set black background color, white text and some padding */
footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: fixed;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }

.summary{
    background-color: #fff;
    padding: 20px;
    color: #154360;
}

.dropdown{
        color: white;
    }
h3{
    text-align: center;
}

.table{
    padding: 20px;
}

.dropdown-toggle{
    color: #f1f1f1;
}

.glyphicon-menu-hamburger{
    color: #f1f1f1;
    text-align: center;
}

.pos-f-t{
    display: none;
    padding: 0px;
}

.navbar-brand{
    color: #f1f1f1;
}

.compare{
    background-color: #fff;
    padding: 20px;
}

h1{
    color: #154360;
}

hr{
    color: #555;
}

body{
    background-color: #f1f1f1;
}

.col-sm-6{
    background-color: #fff;
    padding: 10px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 480px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
      .dropdown {
          visibility: hidden;
      }
      .navbar-toggler{
          visibility: visible;
      }
    }


